#nav-header
{
padding:10px;
background-color:black;
}

#head
{
color:white;
background-color:black;
margin-left:40px;
margin-top:5px;
padding:0px 20px;
}
#head:hover
{
color:black;
background-color:white;
}

#navform
{
margin-left:350px;
}

#navform-input
{
width:300px;
}


.containerrr
{
width:70%;

box-sizing:border-box;
margin-left:200px;
}
.child
{
width:60%;
margin-bottom:40px;
padding:20px;

box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}
.child:hover
{
box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}

.child-head
{
display:flex;
}

.child-head>div
{
margin-left:20px;
}
.child-sect
{
display:flex;
flex-wrap:no-wrap;
justify-content:justify-content;
}


#sect-b
{
margin-left:20px;
}

#order-date
{
color:#64cfc9;
}




.footer
{
padding:40px;
display:flex;
flex-direction:row;
flex-wrap:wrap;
background-color:black;
border-bottom: 0.2px solid white;
}
.footer > div
{
margin-left:2%;
}

ul
{
list-style:none;
}

.footer-li
{
color:white;
}
.footer-li:hover
{
color:white;
}


li + li
{
padding-top:5px;
flex-direction:row;
}


.footer-two
{
display:flex;
background-color:black;
color:white;
justify-content:space-around;
padding:20px;
}

.footer-li-first
{
color:grey;
}