<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/myorder.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid" id="nav-header">
    <div class="navbar-header" id="head">
    <!--  <a class="navbar-brand" href="#"><h5>HypeBeast<sup>TM</sup></h5></a>-->
     <h4>Hype-Beast<sup>TM</sup></h4>
    </div>


    <ul class="nav navbar-nav navbar-right">
      <li><a href="/index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, {{name}}</a></li>
    </ul>
  </div>
</nav>

 <h1 style="text-align:center">My orders</h1>
{% if arr %}
 <div class="containerrr">
     {% for row in arr %}
     <div class="child">
         <div class="child-head">
             <div>
                 <p>  <span class="material-icons" style="background-color:#64cfc9; color:white; padding:5px; border-radius:20px;">shopping_bag</span></p>
             </div>
             <div>
                 <p>Order ID: {{row['order_id']}}</p>
                 <p id="order-date"> on {{row['ord_date']}}</p>
             </div>
         </div>

         <div class="child-sect">
         <div><img src="{{row['img_src']}}" height="250px" width="250px"></div>
         <div id="sect-b"><b>{{row['title']}}</b> <p>{{row['descript']}}</p> <p>  &#8377 {{row['price']}}</p> <p> Quantity:{{row['counts']}}</p></div>
         </div>

     </div>
     {% endfor %}
 </div>

{% else  %}
     <div class="elseblock">
       <img src="static/photos/empty-bag.webp" style="margin-left:550px; width="100%; height="300px">
       <h2 style="text-align:center">Hey,it feels so light!</h2>
       <p  style="text-align:center">There is nothing in your orders.Let's order some items</p>
       <form action="index">
           <input type="submit" value="Add Items" id="elsesubbtn">
       </form>
     </div>

{% endif %}







<footer>
<div class="footer">
    <div>
        <ul >
            <li><a href="#" class="footer-li footer-li-first">About </a></li>
            <li><a href="#" class="footer-li">Contact Us</a></li>
            <li><a href="#" class="footer-li">About Us</a></li>
            <li><a href="#" class="footer-li">Career</a></li>
            <li><a href="#" class="footer-li">Hypebeast Stories</a></li>
            <li><a href="#" class="footer-li">Corporate Information</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="#" class="footer-li footer-li-first">Help </a></li>
            <li><a href="#" class="footer-li">Payment</a></li>
            <li><a href="#" class="footer-li">Shipping</a></li>
            <li><a href="#" class="footer-li">Cancellation & Returns</a></li>
            <li><a href="#" class="footer-li">FAQ</a></li>
            <li><a href="#" class="footer-li">Report Infrigment</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="#" class="footer-li footer-li-first">Policy </a></li>
            <li><a href="#" class="footer-li">Return Policy</a></li>
            <li><a href="#" class="footer-li">terms of Use</a></li>
            <li><a href="#" class="footer-li">Security</a></li>
            <li><a href="#" class="footer-li">Privacy</a></li>
            <li><a href="#" class="footer-li">Sitemap</a></li>
            <li><a href="#" class="footer-li">EPR Compliance</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="#" class="footer-li footer-li-first">Social </a></li>
            <li><a href="#" class="footer-li">Facebook</a></li>
            <li><a href="#" class="footer-li">Instagram</a></li>
            <li><a href="#" class="footer-li">Twitter</a></li>
        </ul>
    </div>
     <div>
     </div>
    <div>
     </div>
    <div>
        <ul>
            <li><a href="#" class="footer-li footer-li-first">Mail Us:</a></li>
            <li><a href="#" class="footer-li">Hypebeast Private Limited</a></li>
            <li><a href="#" class="footer-li">The Lave Street,123</a></li>
            <li><a href="#" class="footer-li">Paris,Europe</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="#" class="footer-li footer-li-first">Registered Mobile Address: </a></li>
            <li><a href="#" class="footer-li">Hypebeast Private Limited</a></li>
            <li><a href="#" class="footer-li">The Lave Street,123</a></li>
            <li><a href="#" class="footer-li">Paris,Europe</a></li>
            <li><a href="#" class="footer-li">Telephone:019-78887888</a></li>
            <li><a href="#" class="footer-li">CIN : U51109KA2012PTC066107</a></li>
        </ul>
    </div>
</div>
</footer>
<div class="footer-two">
    <div><i class="material-icons" style="font-size:20px">work</i><span>Become a seller</span></div>
    <div><i class="material-icons" style="font-size:20px">stars</i>Advertise</div>
    <div><i class="material-icons" style="font-size:20px">redeem</i>Gift cards</div>
    <div><i class="material-icons" style="font-size:20px">help</i>Help center</div>
    <div><i class="material-icons" style="font-size:20px">copyright</i>2018-2022 Hype-Beast<sup>TM</sup></div>
</div>


</body>
</html>